body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
main {
    background-color: lightgreen;
    color: blue;
    font-family: Arial;
    margin: 0px;
}
footer {
    background-color: lightcyan;
    color: gray;
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: lightgreen;
    color: blue;
    font-family: Arial;
    margin: 0px;
}
a {
    text-decoration: none;
}