body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
main {
    background-color: lightgreen;
    color: blue;
    font-family: Arial;
    margin: 0px;
}
footer {
    background-color: lightcyan;
    color: gray;
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: lightgreen;
    color: blue;
    font-family: Arial;
    margin: 0px;
}
a {
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}
a:link {
    color: darkcyan;
    text-decoration: none;
}
a:visited {
    color: grey;
    text-decoration: underline;
}
a:hover {
    color: red;
    text-decoration: underline;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
}